<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>death.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,639},{228,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,275}}</string>
			<key>sourceSize</key>
			<string>{228,275}</string>
		</dict>
		<key>default.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,20},{235,301}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,301}}</string>
			<key>sourceSize</key>
			<string>{235,301}</string>
		</dict>
		<key>idle1.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,341},{235,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,299}}</string>
			<key>sourceSize</key>
			<string>{235,299}</string>
		</dict>
		<key>idle2.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,372},{235,305}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,305}}</string>
			<key>sourceSize</key>
			<string>{235,305}</string>
		</dict>
		<key>jump1.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,660},{243,296}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,296}}</string>
			<key>sourceSize</key>
			<string>{243,296}</string>
		</dict>
		<key>jump2.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,20},{231,332}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,332}}</string>
			<key>sourceSize</key>
			<string>{231,332}</string>
		</dict>
		<key>jump3.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,697},{238,301}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,301}}</string>
			<key>sourceSize</key>
			<string>{238,301}</string>
		</dict>
		<key>walk1.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,20},{239,297}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,297}}</string>
			<key>sourceSize</key>
			<string>{239,297}</string>
		</dict>
		<key>walk2.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,337},{237,282}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,282}}</string>
			<key>sourceSize</key>
			<string>{237,282}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>JoeCharacter.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5525e0999fb868357b833d8fa2a72131$</string>
		<key>textureFileName</key>
		<string>JoeCharacter.pvr.ccz</string>
	</dict>
</dict>
</plist>
