<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>death.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,146},{105,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,127}}</string>
                <key>sourceSize</key>
                <string>{105,127}</string>
            </dict>
            <key>default.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,4},{108,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,305},{108,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,138}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,161},{108,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,116},{112,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{112,136}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{106,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,153}}</string>
                <key>sourceSize</key>
                <string>{106,153}</string>
            </dict>
            <key>jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,4},{109,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,138}}</string>
                <key>sourceSize</key>
                <string>{109,138}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,4},{110,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,137}}</string>
                <key>sourceSize</key>
                <string>{110,137}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,118},{109,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,130}}</string>
                <key>sourceSize</key>
                <string>{109,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JoeCharacter_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{510,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:073d6a5f6141513d6d1148834a413ff3$</string>
            <key>textureFileName</key>
            <string>JoeCharacter_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
