<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blink.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,435},{48,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,43}}</string>
			<key>sourceSize</key>
			<string>{48,43}</string>
		</dict>
		<key>brain_.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,435},{54,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,37}}</string>
			<key>sourceSize</key>
			<string>{54,37}</string>
		</dict>
		<key>cup0.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,312},{217,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,121}}</string>
			<key>sourceSize</key>
			<string>{217,121}</string>
		</dict>
		<key>cup1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{298,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,224}}</string>
			<key>sourceSize</key>
			<string>{298,224}</string>
		</dict>
		<key>cup3.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,480},{114,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,26}}</string>
			<key>sourceSize</key>
			<string>{114,26}</string>
		</dict>
		<key>cup2.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,228},{251,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,82}}</string>
			<key>sourceSize</key>
			<string>{251,82}</string>
		</dict>
		<key>door.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{229,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,262}}</string>
			<key>sourceSize</key>
			<string>{229,262}</string>
		</dict>
		<key>gear1.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,2},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>gear2.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,85},{81,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,81}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
		<key>gear3.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,2},{81,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,81}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
		<key>gem0.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,430},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,57}</string>
		</dict>
		<key>gem1.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,371},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,57}</string>
		</dict>
		<key>gem2.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,312},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level4.pvr.ccz</string>
		<key>size</key>
		<string>{511,508}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1562a0369dfbf356776d36baac3d02ea$</string>
		<key>textureFileName</key>
		<string>Level4.pvr.ccz</string>
	</dict>
</dict>
</plist>
