<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>hat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{159,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,33}}</string>
                <key>sourceSize</key>
                <string>{159,33}</string>
            </dict>
            <key>hat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{162,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,66}}</string>
                <key>sourceSize</key>
                <string>{162,66}</string>
            </dict>
            <key>hat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{162,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,66}</string>
            </dict>
            <key>hat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,70},{101,27}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{159,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level9_zombie.pvr.ccz</string>
            <key>size</key>
            <string>{431,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bf329e6815abf30c0d9e0a66eb2f6cc$</string>
            <key>textureFileName</key>
            <string>Level9_zombie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
