<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,237},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{431,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,72}}</string>
                <key>sourceSize</key>
                <string>{431,72}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,187},{175,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,52}}</string>
                <key>sourceSize</key>
                <string>{175,52}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{215,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,63}}</string>
                <key>sourceSize</key>
                <string>{215,63}</string>
            </dict>
            <key>fish0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,187},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,237},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,184},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>monster_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,21},{24,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,3}}</string>
                <key>sourceSize</key>
                <string>{24,3}</string>
            </dict>
            <key>sideground.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,187},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,109}}</string>
                <key>sourceSize</key>
                <string>{471,109}</string>
            </dict>
            <key>zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,113},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level6_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{502,311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bef23619e6e24f4b424ec0135941deb$</string>
            <key>textureFileName</key>
            <string>Level6_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
