<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{73,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,102}}</string>
                <key>sourceSize</key>
                <string>{73,102}</string>
            </dict>
            <key>death.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,275}}</string>
                <key>sourceSize</key>
                <string>{228,275}</string>
            </dict>
            <key>eyesclosed.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{158,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,116}}</string>
                <key>sourceSize</key>
                <string>{158,116}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{243,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,213}}</string>
                <key>sourceSize</key>
                <string>{243,213}</string>
            </dict>
            <key>propeler.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,106},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11_zombie-hd.pvr.ccz</string>
            <key>size</key>
            <string>{482,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cb2369df552437266390772583fca47$</string>
            <key>textureFileName</key>
            <string>Level11_zombie-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
