<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blink.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,913},{96,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,86}}</string>
			<key>sourceSize</key>
			<string>{96,86}</string>
		</dict>
		<key>brain_.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,913},{108,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,74}}</string>
			<key>sourceSize</key>
			<string>{108,74}</string>
		</dict>
		<key>cup0.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,617},{434,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{434,241}}</string>
			<key>sourceSize</key>
			<string>{434,241}</string>
		</dict>
		<key>cup1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{596,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{596,448}}</string>
			<key>sourceSize</key>
			<string>{596,448}</string>
		</dict>
		<key>cup3.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,860},{228,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,51}}</string>
			<key>sourceSize</key>
			<string>{228,51}</string>
		</dict>
		<key>cup2.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,452},{502,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,163}}</string>
			<key>sourceSize</key>
			<string>{502,163}</string>
		</dict>
		<key>door.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{458,523}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{458,523}}</string>
			<key>sourceSize</key>
			<string>{458,523}</string>
		</dict>
		<key>gear1.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,2},{223,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,224}}</string>
			<key>sourceSize</key>
			<string>{223,224}</string>
		</dict>
		<key>gear2.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,860},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>gear3.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,860},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>gem0.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,2},{111,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,113}}</string>
			<key>sourceSize</key>
			<string>{111,113}</string>
		</dict>
		<key>gem1.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,733},{111,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,113}}</string>
			<key>sourceSize</key>
			<string>{111,113}</string>
		</dict>
		<key>gem2.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,617},{113,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,114}}</string>
			<key>sourceSize</key>
			<string>{113,114}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level4-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1020,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:de798a8215fc5c3628a4c6a4a6058550$</string>
		<key>textureFileName</key>
		<string>Level4-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
