<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>death.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>eyesclosed.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>propeler.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,28},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11_zombie_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{118,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67dff9b5c9939b2b0b7145dd16b435de$</string>
            <key>textureFileName</key>
            <string>Level11_zombie_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
