<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{512,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,284}}</string>
                <key>sourceSize</key>
                <string>{512,284}</string>
            </dict>
            <key>bee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,147},{171,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,143}}</string>
                <key>sourceSize</key>
                <string>{171,143}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,984},{60,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>bee_wing0.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,901},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>bird_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,901},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>bird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,147},{95,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,124}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,984},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>flower_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,331},{169,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,208}}</string>
                <key>sourceSize</key>
                <string>{169,208}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,331},{221,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,221}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,901},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>palm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{427,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,327}}</string>
                <key>sourceSize</key>
                <string>{427,327}</string>
            </dict>
            <key>palm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,726}}</string>
                <key>sourceSize</key>
                <string>{83,726}</string>
            </dict>
            <key>palm_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,554},{509,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,150}}</string>
                <key>sourceSize</key>
                <string>{509,150}</string>
            </dict>
            <key>palm_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,331},{476,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,198}}</string>
                <key>sourceSize</key>
                <string>{476,198}</string>
            </dict>
            <key>palm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,706},{573,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,193}}</string>
                <key>sourceSize</key>
                <string>{573,193}</string>
            </dict>
            <key>plant_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,531},{510,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,149}}</string>
                <key>sourceSize</key>
                <string>{510,149}</string>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,554},{87,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,160}}</string>
                <key>sourceSize</key>
                <string>{87,160}</string>
            </dict>
            <key>temple.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{379,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,143}}</string>
                <key>sourceSize</key>
                <string>{379,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11.pvr.ccz</string>
            <key>size</key>
            <string>{1199,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26dac8739b034440a9756d530961afd8$</string>
            <key>textureFileName</key>
            <string>Level11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
