<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>2monster0.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,763},{104,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,64}}</string>
			<key>sourceSize</key>
			<string>{104,64}</string>
		</dict>
		<key>2monster1.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,240},{112,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,56}}</string>
			<key>sourceSize</key>
			<string>{112,56}</string>
		</dict>
		<key>2monster2.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,965},{99,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,51}}</string>
			<key>sourceSize</key>
			<string>{99,51}</string>
		</dict>
		<key>2monster3.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,843},{8,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,11}}</string>
			<key>sourceSize</key>
			<string>{8,11}</string>
		</dict>
		<key>2monster4.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,432},{64,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,95}}</string>
			<key>sourceSize</key>
			<string>{64,95}</string>
		</dict>
		<key>2monster5.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,666},{67,95}}</string>
			<key>offset</key>
			<string>{0,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,95}}</string>
			<key>sourceSize</key>
			<string>{67,95}</string>
		</dict>
		<key>bird0.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,289},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>bird1.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,194},{127,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,44}}</string>
			<key>sourceSize</key>
			<string>{127,44}</string>
		</dict>
		<key>bird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,965},{70,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,48}}</string>
			<key>sourceSize</key>
			<string>{70,48}</string>
		</dict>
		<key>bird_table.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,2},{164,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,190}}</string>
			<key>sourceSize</key>
			<string>{164,190}</string>
		</dict>
		<key>eye.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,194},{27,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,14}}</string>
			<key>sourceSize</key>
			<string>{27,14}</string>
		</dict>
		<key>finish_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{116,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,768}}</string>
			<key>sourceSize</key>
			<string>{116,768}</string>
		</dict>
		<key>kolona_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,2},{70,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,768}}</string>
			<key>sourceSize</key>
			<string>{70,768}</string>
		</dict>
		<key>kolona_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,2},{99,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,768}}</string>
			<key>sourceSize</key>
			<string>{99,768}</string>
		</dict>
		<key>monster0.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,289},{59,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,241}}</string>
			<key>sourceSize</key>
			<string>{59,241}</string>
		</dict>
		<key>monster1.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,289},{70,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,141}}</string>
			<key>sourceSize</key>
			<string>{70,141}</string>
		</dict>
		<key>monster2.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,532},{79,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,132}}</string>
			<key>sourceSize</key>
			<string>{79,132}</string>
		</dict>
		<key>rock0.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,2},{551,285}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{551,285}}</string>
			<key>sourceSize</key>
			<string>{551,285}</string>
		</dict>
		<key>rock1.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,289},{368,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,350}}</string>
			<key>sourceSize</key>
			<string>{368,350}</string>
		</dict>
		<key>rock2.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,641},{368,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,200}}</string>
			<key>sourceSize</key>
			<string>{368,200}</string>
		</dict>
		<key>rock3.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,843},{361,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{361,120}}</string>
			<key>sourceSize</key>
			<string>{361,120}</string>
		</dict>
		<key>rock_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{276,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,236}}</string>
			<key>sourceSize</key>
			<string>{276,236}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level9.pvr.ccz</string>
		<key>size</key>
		<string>{1012,1018}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b9a9622d5d4790d355740c5c67c8f663$</string>
		<key>textureFileName</key>
		<string>Level9.pvr.ccz</string>
	</dict>
</dict>
</plist>
