<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{1024,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,567}}</string>
                <key>sourceSize</key>
                <string>{1024,567}</string>
            </dict>
            <key>bee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,290},{341,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,285}}</string>
                <key>sourceSize</key>
                <string>{341,285}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1953},{119,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,73}}</string>
                <key>sourceSize</key>
                <string>{119,73}</string>
            </dict>
            <key>bee_wing0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1789},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>bird_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1789},{140,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,162}}</string>
                <key>sourceSize</key>
                <string>{140,162}</string>
            </dict>
            <key>bird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1789},{190,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,247}}</string>
                <key>sourceSize</key>
                <string>{190,247}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1953},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>flower_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,657},{338,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,415}}</string>
                <key>sourceSize</key>
                <string>{338,415}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,657},{439,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{439,441}}</string>
                <key>sourceSize</key>
                <string>{441,441}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1789},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>palm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{853,653}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,653}}</string>
                <key>sourceSize</key>
                <string>{853,653}</string>
            </dict>
            <key>palm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,1452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,1452}}</string>
                <key>sourceSize</key>
                <string>{165,1452}</string>
            </dict>
            <key>palm_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1100},{1018,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1018,300}}</string>
                <key>sourceSize</key>
                <string>{1018,300}</string>
            </dict>
            <key>palm_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,657},{952,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{952,395}}</string>
                <key>sourceSize</key>
                <string>{952,395}</string>
            </dict>
            <key>palm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1402},{1145,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1145,385}}</string>
                <key>sourceSize</key>
                <string>{1145,385}</string>
            </dict>
            <key>plant_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1054},{1020,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,297}}</string>
                <key>sourceSize</key>
                <string>{1020,297}</string>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1100},{174,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,320}}</string>
                <key>sourceSize</key>
                <string>{174,320}</string>
            </dict>
            <key>temple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{758,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,286}}</string>
                <key>sourceSize</key>
                <string>{758,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2387,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48c96f07be9d91ec0c96be6c3f916902$</string>
            <key>textureFileName</key>
            <string>Level11-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
