<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boost0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{654,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{654,189}}</string>
			<key>sourceSize</key>
			<string>{654,189}</string>
		</dict>
		<key>boost1.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,2},{73,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,142}}</string>
			<key>sourceSize</key>
			<string>{73,142}</string>
		</dict>
		<key>boost2.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,146},{69,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,73}}</string>
			<key>sourceSize</key>
			<string>{69,73}</string>
		</dict>
		<key>boost3.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,2},{118,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,134}}</string>
			<key>sourceSize</key>
			<string>{118,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level11_speedB-hd.pvr.ccz</string>
		<key>size</key>
		<string>{853,221}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e0274e6f8c185db1b752bb428c5df98f$</string>
		<key>textureFileName</key>
		<string>Level11_speedB-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
