<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blink.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,148},{24,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{24,22}</string>
		</dict>
		<key>brain_.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,128},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>cup0.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,128},{103,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,58}}</string>
			<key>sourceSize</key>
			<string>{103,58}</string>
		</dict>
		<key>cup1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{141,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,106}}</string>
			<key>sourceSize</key>
			<string>{141,106}</string>
		</dict>
		<key>cup2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{119,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,39}}</string>
			<key>sourceSize</key>
			<string>{119,39}</string>
		</dict>
		<key>cup3.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,151},{54,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,13}}</string>
			<key>sourceSize</key>
			<string>{54,13}</string>
		</dict>
		<key>door.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,2},{108,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,124}}</string>
			<key>sourceSize</key>
			<string>{108,124}</string>
		</dict>
		<key>gear1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,188},{53,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,53}}</string>
			<key>sourceSize</key>
			<string>{53,53}</string>
		</dict>
		<key>gear2.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,207},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>gear3.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,166},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>gem0.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,207},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>gem1.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,151},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>gem2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,151},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level4_iPhone.pvr.ccz</string>
		<key>size</key>
		<string>{256,248}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:84b3c9ed1a3f7035ab8ed4c611340be1$</string>
		<key>textureFileName</key>
		<string>Level4_iPhone.pvr.ccz</string>
	</dict>
</dict>
</plist>
