<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boost0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{327,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{327,95}}</string>
			<key>sourceSize</key>
			<string>{327,95}</string>
		</dict>
		<key>boost1.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,2},{37,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,71}}</string>
			<key>sourceSize</key>
			<string>{37,71}</string>
		</dict>
		<key>boost2.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,75},{35,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,37}}</string>
			<key>sourceSize</key>
			<string>{35,37}</string>
		</dict>
		<key>boost3.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,2},{59,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,67}}</string>
			<key>sourceSize</key>
			<string>{59,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level11_speedB.pvr.ccz</string>
		<key>size</key>
		<string>{431,114}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:34ccc9a5a4f2f22d1a8a1a5f35f07ae2$</string>
		<key>textureFileName</key>
		<string>Level11_speedB.pvr.ccz</string>
	</dict>
</dict>
</plist>
