<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>death.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,138}}</string>
                <key>sourceSize</key>
                <string>{114,138}</string>
            </dict>
            <key>eyesclosed.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{122,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,107}}</string>
                <key>sourceSize</key>
                <string>{122,107}</string>
            </dict>
            <key>propeler.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,55},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11_zombie.pvr.ccz</string>
            <key>size</key>
            <string>{246,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe631f5b92e9be66c54ea8c990bf66c9$</string>
            <key>textureFileName</key>
            <string>Level11_zombie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
