<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>2monster0.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,56},{97,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,60}}</string>
			<key>sourceSize</key>
			<string>{97,60}</string>
		</dict>
		<key>2monster1.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,2},{105,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,52}}</string>
			<key>sourceSize</key>
			<string>{105,52}</string>
		</dict>
		<key>2monster2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,975},{93,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,47}}</string>
			<key>sourceSize</key>
			<string>{93,47}</string>
		</dict>
		<key>2monster3.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,993},{7,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,10}}</string>
			<key>sourceSize</key>
			<string>{7,10}</string>
		</dict>
		<key>2monster4.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,118},{60,90}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,18},{60,90}}</string>
			<key>sourceSize</key>
			<string>{60,108}</string>
		</dict>
		<key>2monster5.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,262},{63,89}}</string>
			<key>offset</key>
			<string>{0,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,89}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>bird0.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,975},{37,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,44}}</string>
			<key>sourceSize</key>
			<string>{37,44}</string>
		</dict>
		<key>bird1.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,975},{119,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,41}}</string>
			<key>sourceSize</key>
			<string>{119,41}</string>
		</dict>
		<key>bird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,975},{65,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,45}}</string>
			<key>sourceSize</key>
			<string>{65,45}</string>
		</dict>
		<key>bird_table.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,577},{155,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,179}}</string>
			<key>sourceSize</key>
			<string>{155,179}</string>
		</dict>
		<key>eye.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,975},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>finish_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{110,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,640}}</string>
			<key>sourceSize</key>
			<string>{110,640}</string>
		</dict>
		<key>kolona_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,2},{65,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,640}}</string>
			<key>sourceSize</key>
			<string>{65,640}</string>
		</dict>
		<key>kolona_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,2},{89,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,640}}</string>
			<key>sourceSize</key>
			<string>{89,640}</string>
		</dict>
		<key>monster0.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,353},{55,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,227}}</string>
			<key>sourceSize</key>
			<string>{55,227}</string>
		</dict>
		<key>monster1.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,128},{66,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,132}}</string>
			<key>sourceSize</key>
			<string>{66,132}</string>
		</dict>
		<key>monster2.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,2},{74,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,124}}</string>
			<key>sourceSize</key>
			<string>{74,124}</string>
		</dict>
		<key>rock0.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,2},{518,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{518,267}}</string>
			<key>sourceSize</key>
			<string>{518,267}</string>
		</dict>
		<key>rock1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{345,329}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,329}}</string>
			<key>sourceSize</key>
			<string>{345,329}</string>
		</dict>
		<key>rock2.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,271},{345,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,188}}</string>
			<key>sourceSize</key>
			<string>{345,188}</string>
		</dict>
		<key>rock3.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,461},{339,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,112}}</string>
			<key>sourceSize</key>
			<string>{339,112}</string>
		</dict>
		<key>rock_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,353},{260,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,222}}</string>
			<key>sourceSize</key>
			<string>{260,222}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Level9_iPhone-hd.pvr.ccz</string>
		<key>size</key>
		<string>{985,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b651c32f7dac96c3ef09665b13998e93$</string>
		<key>textureFileName</key>
		<string>Level9_iPhone-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
