<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,89}}</string>
                <key>sourceSize</key>
                <string>{307,89}</string>
            </dict>
            <key>boost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>boost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,71},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>boost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11_speedB_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{404,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:664196a95acd14cf52e742040e108552$</string>
            <key>textureFileName</key>
            <string>Level11_speedB_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
