<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,28},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>hat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{149,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,30}}</string>
                <key>sourceSize</key>
                <string>{149,30}</string>
            </dict>
            <key>hat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,62}}</string>
                <key>sourceSize</key>
                <string>{151,62}</string>
            </dict>
            <key>hat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{151,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,62}</string>
            </dict>
            <key>hat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{95,24}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{149,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level9_zombie_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{252,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:561b408838fa861c121bd6fcaef30cdb$</string>
            <key>textureFileName</key>
            <string>Level9_zombie_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
