<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,466},{98,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,91}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{861,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,144}}</string>
                <key>sourceSize</key>
                <string>{861,144}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,368},{350,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{429,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,126}}</string>
                <key>sourceSize</key>
                <string>{429,126}</string>
            </dict>
            <key>fish0.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,368},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,466},{171,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,82}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,362},{101,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,119}}</string>
                <key>sourceSize</key>
                <string>{101,119}</string>
            </dict>
            <key>monster_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,38},{48,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,6}}</string>
                <key>sourceSize</key>
                <string>{48,6}</string>
            </dict>
            <key>sideground.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,368},{291,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,96}}</string>
                <key>sourceSize</key>
                <string>{291,96}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{942,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{942,218}}</string>
                <key>sourceSize</key>
                <string>{942,218}</string>
            </dict>
            <key>zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,222},{109,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,138}}</string>
                <key>sourceSize</key>
                <string>{109,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level6_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{998,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fe7fc740842c71d39017459d7905879$</string>
            <key>textureFileName</key>
            <string>Level6_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
