<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,45}</string>
            </dict>
            <key>boost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>boost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,38},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>boost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11_speedB_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{207,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2632f1c0190ef43e3c1e30a17a783683$</string>
            <key>textureFileName</key>
            <string>Level11_speedB_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
