<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,348},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,2},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{936,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,157}}</string>
                <key>sourceSize</key>
                <string>{936,157}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{380,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,113}}</string>
                <key>sourceSize</key>
                <string>{380,113}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,241},{467,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,137}}</string>
                <key>sourceSize</key>
                <string>{467,137}</string>
            </dict>
            <key>fish0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,380},{91,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{91,120}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,380},{91,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,118}}</string>
                <key>sourceSize</key>
                <string>{91,120}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,348},{186,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,89}}</string>
                <key>sourceSize</key>
                <string>{186,89}</string>
            </dict>
            <key>monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,380},{110,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,129}}</string>
                <key>sourceSize</key>
                <string>{110,129}</string>
            </dict>
            <key>monster_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,41},{53,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,6}}</string>
                <key>sourceSize</key>
                <string>{53,6}</string>
            </dict>
            <key>sideground.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,241},{316,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,105}}</string>
                <key>sourceSize</key>
                <string>{316,105}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,237}}</string>
                <key>sourceSize</key>
                <string>{1024,237}</string>
            </dict>
            <key>zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{118,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,151}}</string>
                <key>sourceSize</key>
                <string>{118,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level6.pvr.ccz</string>
            <key>size</key>
            <string>{2022,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:303c3eeb38d24b78cfc01db48831fcf2$</string>
            <key>textureFileName</key>
            <string>Level6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
