<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,731},{160,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,134}}</string>
                <key>sourceSize</key>
                <string>{160,134}</string>
            </dict>
            <key>bee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>bee_wing0.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,189},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>bird_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>bird_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{89,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,116}}</string>
                <key>sourceSize</key>
                <string>{89,116}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,38},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>flower_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,385},{159,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,195}}</string>
                <key>sourceSize</key>
                <string>{159,195}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,80},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>palm_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,189},{380,180}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,180}}</string>
                <key>sourceSize</key>
                <string>{400,180}</string>
            </dict>
            <key>palm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,681}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,681}}</string>
                <key>sourceSize</key>
                <string>{77,681}</string>
            </dict>
            <key>palm_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,242},{477,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,141}}</string>
                <key>sourceSize</key>
                <string>{477,141}</string>
            </dict>
            <key>palm_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{446,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,185}}</string>
                <key>sourceSize</key>
                <string>{446,185}</string>
            </dict>
            <key>palm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,894},{469,111}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,111}}</string>
                <key>sourceSize</key>
                <string>{537,111}</string>
            </dict>
            <key>plant_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,136},{478,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,104}}</string>
                <key>sourceSize</key>
                <string>{478,104}</string>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,582},{80,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,147}}</string>
                <key>sourceSize</key>
                <string>{80,147}</string>
            </dict>
            <key>temple.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{349,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,132}}</string>
                <key>sourceSize</key>
                <string>{349,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level11_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1013,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7685385fd7c4e6178af3dd9ef342d4d$</string>
            <key>textureFileName</key>
            <string>Level11_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
