<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ipad_lvl1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{319,319},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{633,319},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{476,545},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{319,545},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{815,275},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{545,162},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{275,815},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{162,545},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{162,275},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,815},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,545},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,275},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{815,5},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{545,5},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{275,5},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
            <key>ipad_lvl9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{265,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,152}}</string>
                <key>sourceSize</key>
                <string>{265,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuLevels_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ef57ab9a489c0b91cec5999f2bc4a9$</string>
            <key>textureFileName</key>
            <string>MenuLevels_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
