<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ipad_lvl1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{279,416},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{329,167},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{248,279},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{167,279},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{416,142},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{279,86},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{142,416},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{86,279},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{86,142},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,416},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,279},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,142},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{416,5},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{279,5},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{142,5},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
            <key>ipad_lvl9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{132,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,76}}</string>
                <key>sourceSize</key>
                <string>{132,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuLevels_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe552550f8d48892ed7e035ccaad3fcd$</string>
            <key>textureFileName</key>
            <string>MenuLevels_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
