<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvl_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{565,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,142}}</string>
                <key>sourceSize</key>
                <string>{565,142}</string>
            </dict>
            <key>menu_pointsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{619,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,127}}</string>
                <key>sourceSize</key>
                <string>{619,127}</string>
            </dict>
            <key>menubtn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,131},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>menubtn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,131},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>menubtn_musicoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,146},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>menubtn_musicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,146},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>menubtn_soundoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,146},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>menubtn_soundon.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,131},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>menubtn_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,131},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{115,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,212}}</string>
                <key>sourceSize</key>
                <string>{115,212}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,146},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuItems-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1190,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16925ee79e1d800d075817f0920461c$</string>
            <key>textureFileName</key>
            <string>MenuItems-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
