<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{102,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,33}}</string>
                <key>sourceSize</key>
                <string>{102,33}</string>
            </dict>
            <key>btn_gohome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{102,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,33}}</string>
                <key>sourceSize</key>
                <string>{102,33}</string>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>btn_nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{102,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,33}}</string>
                <key>sourceSize</key>
                <string>{102,33}</string>
            </dict>
            <key>btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{102,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,33}}</string>
                <key>sourceSize</key>
                <string>{102,33}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,33}}</string>
                <key>sourceSize</key>
                <string>{102,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PauseMenus_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{106,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:135d77334be1fafdf3de6c923157f24b$</string>
            <key>textureFileName</key>
            <string>PauseMenus_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
