<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{204,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,67}}</string>
                <key>sourceSize</key>
                <string>{204,67}</string>
            </dict>
            <key>btn_gohome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{204,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,67}}</string>
                <key>sourceSize</key>
                <string>{204,67}</string>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>btn_nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{204,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,67}}</string>
                <key>sourceSize</key>
                <string>{204,67}</string>
            </dict>
            <key>btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{204,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,67}}</string>
                <key>sourceSize</key>
                <string>{204,67}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,67}}</string>
                <key>sourceSize</key>
                <string>{204,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PauseMenus_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{208,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed125e41146f982fcb24c95d05beaeff$</string>
            <key>textureFileName</key>
            <string>PauseMenus_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
