<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{436,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,142}}</string>
                <key>sourceSize</key>
                <string>{436,142}</string>
            </dict>
            <key>btn_gohome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{436,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,142}}</string>
                <key>sourceSize</key>
                <string>{436,142}</string>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>btn_nextLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{436,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,142}}</string>
                <key>sourceSize</key>
                <string>{436,142}</string>
            </dict>
            <key>btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{436,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,142}}</string>
                <key>sourceSize</key>
                <string>{436,142}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,142}}</string>
                <key>sourceSize</key>
                <string>{436,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PauseMenus-hd.pvr.ccz</string>
            <key>size</key>
            <string>{440,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7783ac7bc580ef301e5a3f11f3f88f7b$</string>
            <key>textureFileName</key>
            <string>PauseMenus-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
