<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,68},{294,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,64}}</string>
                <key>sourceSize</key>
                <string>{294,64}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,200},{196,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,42}}</string>
                <key>sourceSize</key>
                <string>{196,42}</string>
            </dict>
            <key>unlock_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{294,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,64}}</string>
                <key>sourceSize</key>
                <string>{294,64}</string>
            </dict>
            <key>unlock_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>unlock_btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,134},{142,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,64}}</string>
                <key>sourceSize</key>
                <string>{142,64}</string>
            </dict>
            <key>unlock_btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,134},{142,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,64}}</string>
                <key>sourceSize</key>
                <string>{142,64}</string>
            </dict>
            <key>unlock_buy.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{294,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,234}}</string>
                <key>sourceSize</key>
                <string>{294,234}</string>
            </dict>
            <key>unlock_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,234}}</string>
                <key>sourceSize</key>
                <string>{294,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopUp.pvr.ccz</string>
            <key>size</key>
            <string>{954,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:119bbb2b2c27506167543c8b84d37fd3$</string>
            <key>textureFileName</key>
            <string>PopUp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
