<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,131},{588,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,127}}</string>
                <key>sourceSize</key>
                <string>{588,127}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,389},{391,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,84}}</string>
                <key>sourceSize</key>
                <string>{391,84}</string>
            </dict>
            <key>unlock_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{588,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,127}}</string>
                <key>sourceSize</key>
                <string>{588,127}</string>
            </dict>
            <key>unlock_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{123,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,125}}</string>
                <key>sourceSize</key>
                <string>{123,125}</string>
            </dict>
            <key>unlock_btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,260},{283,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,127}}</string>
                <key>sourceSize</key>
                <string>{283,127}</string>
            </dict>
            <key>unlock_btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,260},{283,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,127}}</string>
                <key>sourceSize</key>
                <string>{283,127}</string>
            </dict>
            <key>unlock_buy.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{588,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,467}}</string>
                <key>sourceSize</key>
                <string>{588,467}</string>
            </dict>
            <key>unlock_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,467}}</string>
                <key>sourceSize</key>
                <string>{588,467}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopUp-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1897,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751a510d921a22f997eb3edaaed1ca06$</string>
            <key>textureFileName</key>
            <string>PopUp-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
