<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,62},{270,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,58}}</string>
                <key>sourceSize</key>
                <string>{270,58}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{180,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,39}}</string>
                <key>sourceSize</key>
                <string>{180,39}</string>
            </dict>
            <key>unlock_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{270,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,58}}</string>
                <key>sourceSize</key>
                <string>{270,58}</string>
            </dict>
            <key>unlock_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,43},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>unlock_btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,103},{130,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
            <key>unlock_btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,43},{130,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
            <key>unlock_buy.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,215}}</string>
                <key>sourceSize</key>
                <string>{270,215}</string>
            </dict>
            <key>unlock_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,215}}</string>
                <key>sourceSize</key>
                <string>{270,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopUp_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1009,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9e53f2b4e3f7f664182a3bf1e71c76f$</string>
            <key>textureFileName</key>
            <string>PopUp_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
