<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,33},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{90,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,20}}</string>
                <key>sourceSize</key>
                <string>{90,20}</string>
            </dict>
            <key>unlock_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
            <key>unlock_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,24},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>unlock_btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,55},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>unlock_btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,24},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>unlock_buy.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,108}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>unlock_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{135,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,108}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopUp_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{511,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f7d40d0b5da874e2433290e8e452bc8$</string>
            <key>textureFileName</key>
            <string>PopUp_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
