<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brains_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,394},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>brains_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,353},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,353},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,353},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>circle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{349,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,349}}</string>
                <key>sourceSize</key>
                <string>{349,349}</string>
            </dict>
            <key>circle_reflect.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{129,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,226}}</string>
                <key>sourceSize</key>
                <string>{129,226}</string>
            </dict>
            <key>circle_reflect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,353},{115,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,80}}</string>
                <key>sourceSize</key>
                <string>{115,80}</string>
            </dict>
            <key>newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,390}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{315,390}}</string>
                <key>sourceSize</key>
                <string>{323,390}</string>
            </dict>
            <key>pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,394},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>victory_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,230},{125,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,158}}</string>
                <key>sourceSize</key>
                <string>{125,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScoreBlockSprites.pvr.ccz</string>
            <key>size</key>
            <string>{801,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e61748581659a04934e38a8c214eda5$</string>
            <key>textureFileName</key>
            <string>ScoreBlockSprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
