<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brains_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,663},{144,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,111}}</string>
                <key>sourceSize</key>
                <string>{144,111}</string>
            </dict>
            <key>brains_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,388},{144,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,111}}</string>
                <key>sourceSize</key>
                <string>{144,111}</string>
            </dict>
            <key>btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,258},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,128},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,2},{134,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,124}}</string>
                <key>sourceSize</key>
                <string>{134,124}</string>
            </dict>
            <key>circle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{697,698}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,698}}</string>
                <key>sourceSize</key>
                <string>{697,698}</string>
            </dict>
            <key>circle_reflect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{257,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,452}}</string>
                <key>sourceSize</key>
                <string>{257,452}</string>
            </dict>
            <key>circle_reflect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,501},{229,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,160}}</string>
                <key>sourceSize</key>
                <string>{229,160}</string>
            </dict>
            <key>newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{629,779}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{629,779}}</string>
                <key>sourceSize</key>
                <string>{645,779}</string>
            </dict>
            <key>pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,702},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>victory_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,456},{250,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,315}}</string>
                <key>sourceSize</key>
                <string>{250,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScoreBlockSprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1816,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:105f38c3bcd48cc7fea74d6d08a3990f$</string>
            <key>textureFileName</key>
            <string>ScoreBlockSprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
