<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brains_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,369},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>brains_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,331},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,331},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,331},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>circle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{327,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,327}}</string>
                <key>sourceSize</key>
                <string>{327,327}</string>
            </dict>
            <key>circle_reflect.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{120,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,212}}</string>
                <key>sourceSize</key>
                <string>{120,212}</string>
            </dict>
            <key>circle_reflect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,331},{107,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,365}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{296,365}}</string>
                <key>sourceSize</key>
                <string>{302,365}</string>
            </dict>
            <key>pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,369},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>victory_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,216},{117,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,148}}</string>
                <key>sourceSize</key>
                <string>{117,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScoreBlockSprites_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{751,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c13efed02565de617ee27c71a477a8b$</string>
            <key>textureFileName</key>
            <string>ScoreBlockSprites_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
