<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brains_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,187},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>brains_inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,168},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,168},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn_twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,168},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>circle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{163,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,164}}</string>
                <key>sourceSize</key>
                <string>{163,164}</string>
            </dict>
            <key>circle_reflect.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{60,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,106}}</string>
                <key>sourceSize</key>
                <string>{60,106}</string>
            </dict>
            <key>circle_reflect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,168},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>newrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,183}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{149,183}}</string>
                <key>sourceSize</key>
                <string>{151,183}</string>
            </dict>
            <key>pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,187},{20,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>victory_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,110},{59,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,74}}</string>
                <key>sourceSize</key>
                <string>{59,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScoreBlockSprites_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{380,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eb128cee7e9ac521159f7ea727e0edf$</string>
            <key>textureFileName</key>
            <string>ScoreBlockSprites_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
