<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{221,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,190}}</string>
                <key>sourceSize</key>
                <string>{221,190}</string>
            </dict>
            <key>action_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{213,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{213,190}}</string>
                <key>sourceSize</key>
                <string>{221,190}</string>
            </dict>
            <key>idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{221,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,190}}</string>
                <key>sourceSize</key>
                <string>{221,190}</string>
            </dict>
            <key>idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{221,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,190}}</string>
                <key>sourceSize</key>
                <string>{221,190}</string>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{221,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,190}}</string>
                <key>sourceSize</key>
                <string>{221,190}</string>
            </dict>
            <key>idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,190}}</string>
                <key>sourceSize</key>
                <string>{221,190}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{146,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{146,126}}</string>
                <key>sourceSize</key>
                <string>{176,152}</string>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{112,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{112,110}}</string>
                <key>sourceSize</key>
                <string>{138,134}</string>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{151,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,136}}</string>
                <key>sourceSize</key>
                <string>{151,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_level7_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{194,1710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b661feda244d843b951cd1a278dc61$</string>
            <key>textureFileName</key>
            <string>sprites_level7_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
