<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slide0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,1523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,1523}}</string>
                <key>sourceSize</key>
                <string>{256,1523}</string>
            </dict>
            <key>slide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,1523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,1523}}</string>
                <key>sourceSize</key>
                <string>{256,1523}</string>
            </dict>
            <key>slide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1785},{256,1435}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{256,1435}}</string>
                <key>sourceSize</key>
                <string>{256,1465}</string>
            </dict>
            <key>slide3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1527},{256,1447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,1447}}</string>
                <key>sourceSize</key>
                <string>{256,1463}</string>
            </dict>
            <key>slide4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,2},{256,1041}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,1041}}</string>
                <key>sourceSize</key>
                <string>{256,1061}</string>
            </dict>
            <key>slide5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,1039}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{256,1039}}</string>
                <key>sourceSize</key>
                <string>{256,1061}</string>
            </dict>
            <key>traps_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1527},{257,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,301}}</string>
                <key>sourceSize</key>
                <string>{257,301}</string>
            </dict>
            <key>traps_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1830},{140,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,282}}</string>
                <key>sourceSize</key>
                <string>{140,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_level5.pvr.ccz</string>
            <key>size</key>
            <string>{1981,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ee3049a376b927872478e3e7d472e34$</string>
            <key>textureFileName</key>
            <string>sprites_level5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
