<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{472,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,406}}</string>
                <key>sourceSize</key>
                <string>{472,406}</string>
            </dict>
            <key>action_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,295},{456,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{456,406}}</string>
                <key>sourceSize</key>
                <string>{472,406}</string>
            </dict>
            <key>idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{472,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,406}}</string>
                <key>sourceSize</key>
                <string>{472,406}</string>
            </dict>
            <key>idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1111},{470,406}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{470,406}}</string>
                <key>sourceSize</key>
                <string>{472,406}</string>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{470,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{470,406}}</string>
                <key>sourceSize</key>
                <string>{472,406}</string>
            </dict>
            <key>idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,703},{468,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{468,406}}</string>
                <key>sourceSize</key>
                <string>{472,406}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{309,269}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{309,269}}</string>
                <key>sourceSize</key>
                <string>{375,325}</string>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{238,232}}</string>
                <key>sourceSize</key>
                <string>{294,286}</string>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{323,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,291}}</string>
                <key>sourceSize</key>
                <string>{323,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_level7.pvr.ccz</string>
            <key>size</key>
            <string>{946,1519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b541437b4dfce8ca5990055b1b82e43$</string>
            <key>textureFileName</key>
            <string>sprites_level7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
