<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birdhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,188},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>birdhead_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,188},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,182},{70,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>brains_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,238},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>eyes_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,165},{105,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,55}}</string>
                <key>sourceSize</key>
                <string>{105,55}</string>
            </dict>
            <key>hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,129},{34,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,115}}</string>
                <key>sourceSize</key>
                <string>{34,115}</string>
            </dict>
            <key>hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,93},{34,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,127}}</string>
                <key>sourceSize</key>
                <string>{34,127}</string>
            </dict>
            <key>hands_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,254},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,256},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>hat_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,182},{93,86}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{113,86}</string>
            </dict>
            <key>head_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{133,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,89}}</string>
                <key>sourceSize</key>
                <string>{133,91}</string>
            </dict>
            <key>legs.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,222},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>legs_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,204},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>plaustas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,39}}</string>
                <key>sourceSize</key>
                <string>{189,39}</string>
            </dict>
            <key>trunk.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,178}}</string>
                <key>sourceSize</key>
                <string>{181,178}</string>
            </dict>
            <key>tshirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,270},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>tshirt_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,165},{37,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{37,24}</string>
            </dict>
            <key>zombieEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{143,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,180}}</string>
                <key>sourceSize</key>
                <string>{143,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_level1_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{511,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:463d68832c655653efb1b609dc7ec848$</string>
            <key>textureFileName</key>
            <string>sprites_level1_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
