<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birdhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,503},{103,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,121}}</string>
                <key>sourceSize</key>
                <string>{103,121}</string>
            </dict>
            <key>birdhead_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,458},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,407},{150,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,187}}</string>
                <key>sourceSize</key>
                <string>{150,187}</string>
            </dict>
            <key>brains_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,538},{96,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,119}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>eyes_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{224,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,118}}</string>
                <key>sourceSize</key>
                <string>{224,118}</string>
            </dict>
            <key>hand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{72,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,246}}</string>
                <key>sourceSize</key>
                <string>{72,246}</string>
            </dict>
            <key>hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,384},{72,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,272}}</string>
                <key>sourceSize</key>
                <string>{72,272}</string>
            </dict>
            <key>hands_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,600},{138,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,68}}</string>
                <key>sourceSize</key>
                <string>{138,68}</string>
            </dict>
            <key>hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,384},{132,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,152}}</string>
                <key>sourceSize</key>
                <string>{132,152}</string>
            </dict>
            <key>hat_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,394},{107,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,124}}</string>
                <key>sourceSize</key>
                <string>{107,124}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{241,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,183}}</string>
                <key>sourceSize</key>
                <string>{241,183}</string>
            </dict>
            <key>head_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,122},{283,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,195}}</string>
                <key>sourceSize</key>
                <string>{283,195}</string>
            </dict>
            <key>legs.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,458},{159,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,140}}</string>
                <key>sourceSize</key>
                <string>{159,140}</string>
            </dict>
            <key>legs_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,608},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>plaustas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,83}}</string>
                <key>sourceSize</key>
                <string>{403,83}</string>
            </dict>
            <key>trunk.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{386,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,380}}</string>
                <key>sourceSize</key>
                <string>{386,380}</string>
            </dict>
            <key>tshirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,567},{116,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,78}}</string>
                <key>sourceSize</key>
                <string>{116,78}</string>
            </dict>
            <key>tshirt_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,559},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>zombieEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{305,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,383}}</string>
                <key>sourceSize</key>
                <string>{305,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_level1.pvr.ccz</string>
            <key>size</key>
            <string>{1021,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:919d49181bd2d7013de1ed484465c490$</string>
            <key>textureFileName</key>
            <string>sprites_level1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
