<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,352},{523,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,152}}</string>
                <key>sourceSize</key>
                <string>{523,152}</string>
            </dict>
            <key>device_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,178},{282,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,140}}</string>
                <key>sourceSize</key>
                <string>{282,140}</string>
            </dict>
            <key>device_tilt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{208,139}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{208,139}}</string>
                <key>sourceSize</key>
                <string>{272,139}</string>
            </dict>
            <key>device_tilt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,143},{206,139}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,139}}</string>
                <key>sourceSize</key>
                <string>{272,139}</string>
            </dict>
            <key>device_tilt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{181,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,140}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>device_tilt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,174}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{181,174}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>device_tilt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{180,172}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,172}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>explanation.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{413,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,97}}</string>
                <key>sourceSize</key>
                <string>{413,97}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{101,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{101,153}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,284},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial.pvr.ccz</string>
            <key>size</key>
            <string>{993,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f4f74032d549dfe9a10344eadf68ad0$</string>
            <key>textureFileName</key>
            <string>Tutorial.pvr.ccz</string>
        </dict>
    </dict>
</plist>
