<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,696},{1046,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1046,304}}</string>
                <key>sourceSize</key>
                <string>{1046,304}</string>
            </dict>
            <key>device_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,351},{564,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,279}}</string>
                <key>sourceSize</key>
                <string>{564,279}</string>
            </dict>
            <key>device_tilt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{414,278}}</string>
                <key>offset</key>
                <string>{65,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,0},{414,278}}</string>
                <key>sourceSize</key>
                <string>{544,278}</string>
            </dict>
            <key>device_tilt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,282},{410,277}}</string>
                <key>offset</key>
                <string>{-67,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,277}}</string>
                <key>sourceSize</key>
                <string>{544,277}</string>
            </dict>
            <key>device_tilt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{362,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,279}}</string>
                <key>sourceSize</key>
                <string>{362,279}</string>
            </dict>
            <key>device_tilt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,347}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,132},{361,347}}</string>
                <key>sourceSize</key>
                <string>{361,479}</string>
            </dict>
            <key>device_tilt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{360,343}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,343}}</string>
                <key>sourceSize</key>
                <string>{360,479}</string>
            </dict>
            <key>explanation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,2},{826,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,193}}</string>
                <key>sourceSize</key>
                <string>{826,193}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{201,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,305}}</string>
                <key>sourceSize</key>
                <string>{201,305}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,561},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1973,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e7ad05bb9db455245ddb7c9cdab153$</string>
            <key>textureFileName</key>
            <string>Tutorial-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
