<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,140}}</string>
                <key>sourceSize</key>
                <string>{481,140}</string>
            </dict>
            <key>device_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{265,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,131}}</string>
                <key>sourceSize</key>
                <string>{265,131}</string>
            </dict>
            <key>device_tilt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{194,128}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{194,128}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>device_tilt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,380},{192,127}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,127}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>device_tilt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{167,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,128}}</string>
                <key>sourceSize</key>
                <string>{167,128}</string>
            </dict>
            <key>device_tilt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{166,162}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,220}</string>
            </dict>
            <key>device_tilt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,509},{166,162}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,220}</string>
            </dict>
            <key>explanation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{380,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,89}}</string>
                <key>sourceSize</key>
                <string>{380,89}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,235},{94,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,143}}</string>
                <key>sourceSize</key>
                <string>{94,143}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,144},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{485,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1185a1fdeb6bb91ee9b3a67926bdd91$</string>
            <key>textureFileName</key>
            <string>Tutorial_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
