<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,70}}</string>
                <key>sourceSize</key>
                <string>{241,70}</string>
            </dict>
            <key>device_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{133,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,66}}</string>
                <key>sourceSize</key>
                <string>{133,66}</string>
            </dict>
            <key>device_tilt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,195},{97,64}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{97,64}}</string>
                <key>sourceSize</key>
                <string>{125,64}</string>
            </dict>
            <key>device_tilt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{97,64}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,64}}</string>
                <key>sourceSize</key>
                <string>{125,64}</string>
            </dict>
            <key>device_tilt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>device_tilt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,261},{83,82}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>device_tilt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{83,80}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>explanation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,121},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,74},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{246,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1107f2a993fc298f04ec26afbc78424d$</string>
            <key>textureFileName</key>
            <string>Tutorial_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
