<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,466},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,429},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,79},{202,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,50}}</string>
                <key>sourceSize</key>
                <string>{202,50}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{207,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,90}}</string>
                <key>sourceSize</key>
                <string>{207,90}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,352},{296,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,75}}</string>
                <key>sourceSize</key>
                <string>{296,75}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{412,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,128}}</string>
                <key>sourceSize</key>
                <string>{412,128}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,465},{230,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,38}}</string>
                <key>sourceSize</key>
                <string>{230,38}</string>
            </dict>
            <key>dropbad.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,79},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>dropgood.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,79},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>jar.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,273},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>kolona0.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,50},{73,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,91}}</string>
                <key>sourceSize</key>
                <string>{73,91}</string>
            </dict>
            <key>kolona1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,273},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>monster_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,466},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>monster_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,466},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>monster_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{110,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,99}}</string>
                <key>sourceSize</key>
                <string>{110,99}</string>
            </dict>
            <key>plaustas.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,214},{185,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,37}}</string>
                <key>sourceSize</key>
                <string>{185,37}</string>
            </dict>
            <key>reflector.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>splash0.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,429},{29,25}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,429},{45,33}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,28},{45,33}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,429},{57,35}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,21},{57,35}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,466},{73,41}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,12},{73,41}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,214},{91,49}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,2},{91,49}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,79},{129,53}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{129,53}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,265},{169,65}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{169,65}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,273},{205,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{205,77}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>splash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,143},{223,69}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{223,69}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>water0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,79},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,429},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{85,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,60}}</string>
                <key>sourceSize</key>
                <string>{85,60}</string>
            </dict>
            <key>water4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,429},{85,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,72}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>wave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{942,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{942,32}}</string>
                <key>sourceSize</key>
                <string>{942,32}</string>
            </dict>
            <key>wave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{942,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{942,41}}</string>
                <key>sourceSize</key>
                <string>{942,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level2_iPhone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1023,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94f8f1d4dd1d0bf2ebca2e9ae7984172$</string>
            <key>textureFileName</key>
            <string>Level2_iPhone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
