<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,43},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,234},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,43},{101,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,25}}</string>
                <key>sourceSize</key>
                <string>{101,25}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,191},{104,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,45}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,139},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{206,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,64}}</string>
                <key>sourceSize</key>
                <string>{206,64}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,43},{115,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,19}}</string>
                <key>sourceSize</key>
                <string>{115,19}</string>
            </dict>
            <key>dropbad.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,113},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>dropgood.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,113},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>jar.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,139},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>kolona0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>kolona1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,33},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>monster_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,211},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>monster_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,43},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>monster_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>plaustas.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,102},{93,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,19}}</string>
                <key>sourceSize</key>
                <string>{93,19}</string>
            </dict>
            <key>reflector.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,43},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>splash0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{14,14}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{14,14}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,238},{22,16}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{22,16}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,102},{28,18}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,11},{28,18}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,43},{38,22}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{38,22}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,43},{46,24}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{46,24}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{64,26}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{64,26}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,122},{84,34}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,73},{102,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,38}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>splash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,64},{112,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,36}}</string>
                <key>sourceSize</key>
                <string>{112,40}</string>
            </dict>
            <key>water0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,20},{33,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,11}}</string>
                <key>sourceSize</key>
                <string>{33,11}</string>
            </dict>
            <key>water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,113},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,179},{43,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,30}}</string>
                <key>sourceSize</key>
                <string>{43,30}</string>
            </dict>
            <key>water4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,73},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>wave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{471,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,16}}</string>
                <key>sourceSize</key>
                <string>{471,16}</string>
            </dict>
            <key>wave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,21}}</string>
                <key>sourceSize</key>
                <string>{471,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level2_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d21c051116e2a80549706500d55fb25c$</string>
            <key>textureFileName</key>
            <string>Level2_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
