<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_iphone.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,320}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BG_Level2_iPhone.pvr.ccz</string>
            <key>size</key>
            <string>{572,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc3682079524d5e5372713e5c9a2cbdf$</string>
            <key>textureFileName</key>
            <string>BG_Level2_iPhone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
