<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird0.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,166},{169,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,154}}</string>
                <key>sourceSize</key>
                <string>{169,154}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{169,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,162}}</string>
                <key>sourceSize</key>
                <string>{169,162}</string>
            </dict>
            <key>bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,460},{62,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,95}}</string>
                <key>sourceSize</key>
                <string>{62,95}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,936},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,697},{302,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,188}}</string>
                <key>sourceSize</key>
                <string>{302,188}</string>
            </dict>
            <key>fish0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,610},{181,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,239}}</string>
                <key>sourceSize</key>
                <string>{181,239}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,697},{181,233}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{181,233}}</string>
                <key>sourceSize</key>
                <string>{181,239}</string>
            </dict>
            <key>kolona0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{261,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,350}}</string>
                <key>sourceSize</key>
                <string>{261,350}</string>
            </dict>
            <key>kolona1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,610},{229,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,324}}</string>
                <key>sourceSize</key>
                <string>{229,324}</string>
            </dict>
            <key>kolona2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,460},{229,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,434}}</string>
                <key>sourceSize</key>
                <string>{229,434}</string>
            </dict>
            <key>kolona3.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,460},{229,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,235}}</string>
                <key>sourceSize</key>
                <string>{229,235}</string>
            </dict>
            <key>kolona4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{363,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,456}}</string>
                <key>sourceSize</key>
                <string>{363,456}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{585,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,606}}</string>
                <key>sourceSize</key>
                <string>{585,606}</string>
            </dict>
            <key>wave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,936},{2048,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,70}}</string>
                <key>sourceSize</key>
                <string>{2048,70}</string>
            </dict>
            <key>wave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,322},{2048,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,96}}</string>
                <key>sourceSize</key>
                <string>{2048,96}</string>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,420},{142,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,87}}</string>
                <key>sourceSize</key>
                <string>{142,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{3004,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62410a72af68a6d8902b9e1274a9c153$</string>
            <key>textureFileName</key>
            <string>Level3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
