<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,122},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,122},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,232},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>brains.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,471},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,352},{151,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,94}}</string>
                <key>sourceSize</key>
                <string>{151,94}</string>
            </dict>
            <key>fish0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,307},{91,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{91,120}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{91,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,118}}</string>
                <key>sourceSize</key>
                <string>{91,120}</string>
            </dict>
            <key>kolona0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{131,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,175}}</string>
                <key>sourceSize</key>
                <string>{131,175}</string>
            </dict>
            <key>kolona1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,307},{109,162}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,162}}</string>
                <key>sourceSize</key>
                <string>{115,162}</string>
            </dict>
            <key>kolona2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,232},{115,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,217}}</string>
                <key>sourceSize</key>
                <string>{115,217}</string>
            </dict>
            <key>kolona3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,232},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>kolona4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{182,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,228}}</string>
                <key>sourceSize</key>
                <string>{182,228}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{293,303}</string>
            </dict>
            <key>wave0.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,471},{1024,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,35}}</string>
                <key>sourceSize</key>
                <string>{1024,35}</string>
            </dict>
            <key>wave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{1024,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,48}}</string>
                <key>sourceSize</key>
                <string>{1024,48}</string>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,52},{71,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,44}}</string>
                <key>sourceSize</key>
                <string>{71,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level3.pvr.ccz</string>
            <key>size</key>
            <string>{1600,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3281826f354313f8d6180f619635623$</string>
            <key>textureFileName</key>
            <string>Level3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
